@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Lobster&family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Quintessential&family=Roboto:ital,wght@0,400;1,700&family=Sriracha&display=swap');


*{
  margin: 0px;
}


html,body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  --gray: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);
}
body{
  display: grid;
  place-items: center;
  background-color:var(--gray);
}

main{ 
  margin: 0px;
  background: url('images/background.svg');
  width: 375px;
  color: var(--gray);
  max-height: 812px;
}

section.container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  max-width: 250px;
  text-align: center;
}

.avatar{
  width: 10rem;
  margin: 11.5rem auto 0px;

  position: relative;
}

.avatar span{
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img{
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%)
}

h1{
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a{
  margin-top: 0.25rem;
  color: var(--gray);
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

p{
  margin-top: 2rem;
  font-size: 14px;
}

ul{
  margin-top: 4rem;
  margin-bottom: 0px;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  justify-content: center;
}